body {
  font-family: "Open Sans", sans-serif;
  color: #77c5f3;
  background-color: #3aa6e5;
}

svg {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#login
{
   margin-top: 30vh;
}

#write
{
   height: 100vh;
}

.first .card-title
{
    font-size: 200%
}

.card-action
{
    height: 60px;
}

.modal
{
width: 90% !important ; height: 100% !important ; 
}

.second
{
    margin-top: 4vw;
    margin-bottom: 4vw
}