/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #77c5f3;
  background-color: #3aa6e5;
}

svg {
  max-width: 100%;
}

a {
  text-decoration: none;
}


#login
{
   margin-top: 30vh;
}

#write
{
   height: 100vh;
}

p
{
    text-align: justify
}

iframe
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.card-title
{
    color: #fff;
    text-decoration-color: #fff;
}

.first .card-title
{
    font-size: 200%
}



.second
{
    margin-top: 4vw;
    margin-bottom: 4vw
}
