<!doctype html>
<html ng-app="NewsApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="materialize/css/materialize.css">
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script> <!-- Angular -->
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script><!-- Firebase -->
    <script>
    var config = {
    apiKey: "AIzaSyAPaLhE2GLW-Ifxnej6EzUXpGKpSbMnT-o",
    authDomain: "nis-paper-a4326.firebaseapp.com",
    databaseURL: "https://nis-paper-a4326.firebaseio.com",
    projectId: "nis-paper-a4326",
    storageBucket: "nis-paper-a4326.appspot.com",
    messagingSenderId: "524508563244"
  };
  firebase.initializeApp(config);

    </script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
	<title>NIS PAPER</title>
</head>
<body ng-controller="NewsController">
  <div id="main">
    <div id="login">
    <div class="row">
      <div class="col s12 m8 l4 offset-m2 offset-l4">
        <div class="card">
          <div class="card-content teal-text">
              <span class="card-title">Authentication to NIS PAPER</span>
              <div class="row">
                 <div class="input-field col s6">
                  <input id="email" type="text">
                  <label for="email">Email</label>
                 </div>
                  <div class="input-field col s6">
                  <input id="password" type="password">
                  <label for="password">Password</label>
                </div>
                  <p id="reportLog"></p>
              </div> 
            <a class="waves-effect waves-light btn" id="btnLogin">Login</a>
          </div>
        </div>
      </div>
    </div>
   </div>
      
      
    <div id="write" class="hide">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="cardtitle">NEW</span>
              <div class="row">
                <div class="input-field col s6">
                  <input id="header" type="text" ng-model="headerText">
                  <label for="header">Header</label>
                </div>
                <div class="input-field col s6">
                  <input id="short" type="text" ng-model="shortText">
                  <label for="short">Short</label>
                </div>
             </div>
           <div class="input-field col s12">
             <textarea id="text" class="materialize-textarea" data-length="1000" ng-model="Text"></textarea>
             <label for="text">Text</label>
           </div>
            <a class="waves-effect waves-light btn" ng-click="send()">Write</a>
          </div>
        </div>
      </div>
    </div>
        
    			<div id='newsLib' class="cd-content">
   
              <div class="row">
                <div class="col s12">
                  <div class="card blue lighten-2">
                    <div class="card-content white-text">
                      <span class="card-title">News feed</span>
                    </div>
                  </div>
                </div>
                  
                <div class="col s12 m6 l3" ng-repeat="m in news |limitTo: order| reverse">
                  <div class="card white-text sticky-action blue lighten-2">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator responsive-img" src={{m.picture||"images/news.jpg"}}>
                    </div>
                    <div class="card-content" href="#"{{m.header}}"">
                      <span class="card-title activator grey-text text-darken-4">{{m.header}}<svg class="right activator" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g class="nc-icon-wrapper" fill="#444444">  <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></g></svg>
                      </span>
                      <p>{{m.short}}</p>
                    </div>
                    <div class="card-action">
                        <a class="white-text">By: {{m.redactor}}</a>
                        <a class="white-text">Date: {{m.date |date: format:'longDate'}}</a>
                   </div>
                    <div class="card-reveal grey-text">
                      <span class="card-title grey-text text-darken-4">{{m.header}}<svg class="right card-title" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><g class="nc-icon-wrapper" fill="#444444"><path d="M28.5 9.62L26.38 7.5 18 15.88 9.62 7.5 7.5 9.62 15.88 18 7.5 26.38l2.12 2.12L18 20.12l8.38 8.38 2.12-2.12L20.12 18z"></path>
    </g>
</svg></span>
                      <p>{{m.text}}</p>
                    </div>
                  </div>
                </div>
              </div>
                
                <div class="row">   
                 
                    <a class="waves-effect blue waves-light btn-large col s12" ng-click='order = order + 8' ng-init = 'order = 8'>Load more</a>
              
                </div>
                
			</div>    
        
    
  </div>
   </div>
    
<script src="js/jquery-2.1.1.js"></script>
<script src="materialize/js/materialize.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>